#contact-FooterStyle{
    background-color: lightslategray;
    padding-top: 30px;
    padding-bottom: 80px;
    color: honeydew;
    height: 80px;
    text-align: center;
    margin-top: 390px;
    margin-bottom: 0px;
    width:100%;
    font-family: 'Galada', cursive;
}

#emailStyle{
    font-family: 'Playfair Display', serif;
    color:#212529;
    margin-bottom: 100px;
}

#contactGrid{
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

