#contact-FooterStyle{
    background-color: lightslategray;
    padding-top: 30px;
    padding-bottom: 80px;
    color: honeydew;
    height: 80px;
    text-align: center;
    margin-top: 390px;
    margin-bottom: 0px;
    width:100%;
    font-family: 'Galada', cursive;
}